/* Variables */ /* Header */
nav {
  width: 100%;
  height: 20vh;
  background-color: beige;
  display: flex;
  align-items: center;
}

nav h1 {
  text-decoration: underline;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 15%;
}

nav li {
  padding: 5%;
  width: 30%;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: darkgoldenrod;
  text-shadow: black 4px 7px;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    height: 40vh;
  }
  nav div {
    display: flex;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    width: 50%;
  }
}
/* Logo de la pagina */
.logovbl {
  width: 10%;
  display: contents;
}
.logovbl img {
  width: 100%;
  height: 100%;
}
.logovbl:hover {
  transform: rotateY(360deg);
  transition: 1.5s;
}

/* ---Baner del index--- */
.banner {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 35vh;
  background-size: cover;
  background-position-y: 20%;
  background-image: url(https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 20vh;
  }
}
/*contenido princiopal del index */
.imgContainer {
  display: flex;
  justify-content: space-evenly;
}
.imgContainer div {
  width: 20%;
  height: 300px;
}
.imgContainer img {
  width: 100%;
  height: 100%;
}
.imgContainer h3 {
  color: white;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgContainer div {
    width: 35%;
    height: 250px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
  }
}
/**/
.imgContainer2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.imgContainer2 div {
  width: 20%;
  height: 300px;
}
.imgContainer2 img {
  width: 100%;
  height: 100%;
}
.imgContainer2 h3 {
  color: white;
  padding: 15px;
}
.imgContainer2 a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .imgContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgContainer2 div {
    width: 50%;
    height: 400px;
    display: flex;
    margin: 30px;
    justify-content: center;
  }
  .imgContainer2 h3 {
    font-size: 20px;
  }
}
/* Hover para fotos del index */
.nc-1:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.ncg-1:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.na-1:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

/* Video medio index */
.video-medio-index {
  margin-top: 15vh;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.video-medio-index div {
  border: 15px solid transparent;
  -o-border-image: linear-gradient(to bottom right, beige, rgb(182, 182, 113)) 1;
     border-image: linear-gradient(to bottom right, beige, rgb(182, 182, 113)) 1;
  max-width: 50%;
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  .video-medio-index {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .video-medio-index div {
    border: 15px;
    border: 5px black solid;
    -o-border-image: linear-gradient(to bottom right, beige, rgb(182, 182, 113)) 1;
       border-image: linear-gradient(to bottom right, beige, rgb(182, 182, 113)) 1;
  }
}
/* Contacto */
.contacto1 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 35vh;
  background-size: cover;
  background-position-y: 50%;
  background-image: url(../assets/VLY__33.png);
}

.contactoLi ul {
  display: grid;
  list-style: none;
  justify-content: center;
}
.contactoLi ul li {
  font-size: 24px;
  font-style: italic;
  color: black;
  padding: 11%;
  width: 100%;
}

/* Formulario Preguntas */
.formus {
  display: flex;
  justify-content: center;
}
.formus form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 20px;
}
.formus input {
  margin-bottom: 15px;
  padding: 5px;
}

.descppreg {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-style: italic;
}
.descppreg p {
  align-items: center;
  font-style: italic;
}

.relleno-preguntas {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  height: 60vh;
  background-size: cover;
  background-position-y: 97%;
  background-image: url(../assets/relle1.png);
}

/* Seccion con Grid - Es la Galeria de Fotos */
.GridAreaPadre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "hed hed hed hed hed " "a1 s1 s1 s1 a2" "a1 s2 s2 s2 a2" "a1 s3 s3 s3 a2" "foot foot foot foot foot";
}

.headerGF {
  background-color: beige;
  grid-area: hed;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.headerGF div {
  width: 10%;
  /* height: 20vh;*/
}

.headerGF h1 {
  text-decoration: underline;
  margin: 0;
}

.headerGF ul {
  display: flex;
  list-style: none;
  margin-left: 15%;
  align-items: center;
}

.headerGF ul li {
  padding: 5%;
  width: 30%;
  display: inline-block;
}

.headerGF a {
  color: black;
  text-decoration: none;
}

.headerGF a:hover {
  color: darkgoldenrod;
  text-shadow: black 4px 7px;
}

.section1GF {
  grid-area: s1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.section1GF img {
  width: 125px;
  margin: 2px;
}

.section2GF {
  grid-area: s2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section2GF img {
  width: 125px;
  margin: 2px;
}

.section3GF {
  grid-area: s3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section3GF img {
  width: 125px;
  margin: 2px;
}

.aside1GF {
  background-color: rgb(203, 203, 182);
  grid-area: a1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider img {
  width: 100%;
  animation: slide 2s infinite alternate;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.aside2GF {
  background-color: rgb(203, 203, 182);
  grid-area: a2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footerGF {
  background-color: black;
  grid-area: foot;
  width: 100%;
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.footerGF h4 {
  margin-left: 4%;
}
.footerGF a {
  color: white;
}
.footerGF p {
  margin-left: 4%;
}
.footerGF ul {
  display: flex;
  list-style: none;
  width: 40%;
}
.footerGF li {
  text-decoration: none;
  padding: 6%;
}
.footerGF a {
  color: white;
  text-decoration: none;
}
.footerGF div {
  width: 20%;
  height: 20%;
}
.footerGF img {
  width: 100%;
  height: 100%;
}

/*MQ*/
@media only screen and (max-width: 768px) {
  .GridAreaPadre {
    grid-template-columns: repeat();
    grid-template-areas: "hed hed hed" "a1 s1 a2" "a1 s2 a2" "a2 s3 a2" "foot foot foot";
  }
  .headerGF {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
  }
  .headerGF ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  .headerGF div {
    width: 5%;
  }
  .headerGF h1 {
    margin: none;
    padding: none;
  }
  .section1GF {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section2GF {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section3GF {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aside1GF {
    width: 90%;
  }
  .aside2GF {
    width: 100%;
  }
  .footerGF {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .footerGF ul {
    width: 100%;
    margin-bottom: 5%;
  }
  .footerGF li {
    padding: 2%;
  }
}
.img-container-materiales {
  display: flex;
  justify-content: space-evenly;
}
.img-container-materiales div {
  width: 20%;
  height: 100%;
}
.img-container-materiales img {
  width: 100%;
  height: 400px;
}
.img-container-materiales p {
  display: flex;
  align-items: center;
  font-size: small;
  padding: 15px;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    height: 40vh;
    margin-left: 0;
  }
  nav div {
    display: flex;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    width: 50%;
  }
}
body {
  background: linear-gradient(to bottom right, #a47926, #f5f5dc);
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Footer 

footer {
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-top: 20vh;
}

footer h4 {
    margin-left: 4%;
}

footer a {
    color: white;
}

footer p {
    margin-left: 4%;
}

footer ul {
    display: flex;
    list-style: none;
    width: 40%;
}

footer ul li {
    text-decoration: none;
    padding: 6%;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a div {
    width: 20%;
    height: 20%;
}


footer ul li div img {
    width: 100%;
    height: 100%;
}
*/
/* Font del H1 */
@font-face {
  font-family: "Anastasia Script Personal Use";
  src: url("../assets/Anastasia Script Personal Use.ttf");
}
.typo-local {
  font-family: "Anastasia Script Personal Use";
}

/* MQ Miobile last foter bootstrap*/
@media only screen and (max-width: 768px) {
  footer .row {
    flex-direction: column;
    align-items: center;
  }
  footer .col-md-4 {
    margin-bottom: 1rem;
  }
  footer .col-md-5 {
    margin-bottom: 1rem;
  }
  footer .col-md-3 {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */