/* Variables */
$Fondo-Gradiente:linear-gradient(to bottom right, #a47926, #f5f5dc) ;

@import "./secciones/header" ;
@import"./secciones/logo";
@import"./secciones/banner";
@import"./secciones/content-index";
@import"./contacto/content-contacto.scss";
@import"./preguntas/content-preguntas.scss";
@import"./galerria-fotos/content-gf.scss";
@import"./materiales/content-mat.scss";

body {
    background: $Fondo-Gradiente ;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Footer 

footer {
    width: 100%;
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-top: 20vh;
}

footer h4 {
    margin-left: 4%;
}

footer a {
    color: white;
}

footer p {
    margin-left: 4%;
}

footer ul {
    display: flex;
    list-style: none;
    width: 40%;
}

footer ul li {
    text-decoration: none;
    padding: 6%;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a div {
    width: 20%;
    height: 20%;
}


footer ul li div img {
    width: 100%;
    height: 100%;
}
*/

/* Font del H1 */

@font-face {
    font-family: "Anastasia Script Personal Use";
    src: url("../assets/Anastasia\ Script\ Personal\ Use.ttf");
}

.typo-local {
    font-family: "Anastasia Script Personal Use";
}


/* MQ Miobile last foter bootstrap*/

footer.bg-dark.text-center.text-white {
   
}

@media only screen and (max-width: 768px) {
    footer.bg-dark.text-center.text-white {
        
    }

    footer .row {
        flex-direction: column;
        align-items: center;
    }

    footer .col-md-4 {
        margin-bottom: 1rem;
    }

    footer .col-md-5 {
        margin-bottom: 1rem;
    }

    footer .col-md-3 {
        margin-bottom: 2rem;
    }
}
